#logo1{
   width: 280px;
   height: 80px;
}
#logo2{
    color: black;
 }

#logo3{
    width: 200px;
    height: 200px;
    transform: translate(280px,-0px);
 }

 #logo4{
    width: 100px;
    height: 100px;
    transform: translate(260px,-0px);
 }

 #logos{
    color: white;
 }

#searchform{
    transform: translate(420px,-50px);
}
.material-icons.md-48 { 
    font-size: 48px;
    transform: translate(1000px,-100px); 

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #ddd;
  }
  .navbar .logo-section {
    display: flex;
    align-items: center;
  }
  .navbar .logo-section div {
    align-self: stretch;
    width: 1px;
    background: black;
    margin: 0 20px;
  }
  .navbar .icons-section .fa {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    margin: 0 10px;
  }
  .navbar .logo {
    width: 40px;
  }
  .navbar .logoname {
    width: 130px;
  }
  .navbar .input-search {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 2px solix #ddd;
    outline: 0;
  }
  .navbar .input-search:focus {
    text-align: left;
  }
  