{%extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content %}

<div class="container-fluid">


<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

                {% if image %}
                {% for img in image %} {% if img.image %}
               
                <div class="card" style="width: 40rem" ;>
                    <div class="card-header">
                        <div class="profile-img">
                            <img class="profile-img" src="{{img.profile.profile_photo.url}}" />
            
                        </div>
                        {% endif %}
            
                        <div class="profile-info">
                            <div class="name"></div>
                            <div class="location"></div>
                        </div>
                    </div>
                    <div class="content">
                        <img src="{{img.image.url}}" style="width: 40rem" class="content" />
                    </div>
                    <div class="card-footer">
                        <div class="footer-content">
                            {% for comment in img.comments.all %}
                            <b><em><a href='{{comment.user.username}}'>{{comment.user.username}}</a></em></b>:{{comment.comment}}
                            <br>
                            {% endfor %}
            
            
                            <form action="/likes/{{img.id}}" method="post" enctype="multipart/form-data">
                                {%csrf_token%}
            
                                {% bootstrap_form like %}
                                <button type='submit'>
                                    <i class="fa fa-heart" type='submit' style="font-size:30px;">{{img.likes.all|length}}</i>
            
                                </button>
                            </form>
            
            
                            <form id='comment' action="/comments/{{img.id}}" method="post" enctype="multipart/form-data">
                                {%csrf_token%}
            
                                {% bootstrap_form comm %}
                                <input type="submit" class="btn btn-primary btn-lg" value="Add comment">
                            </form>
            
                        </div>
                    </div>
                </div>
                <br>
                <br>
                {% endfor %}
                {% else %}
                Nothing has been posted so far
                {% endif %}
                
            </div>
            <div class="col-md-4"></div>
           
    </div>
            
</div>
       


     
   
            {% endblock %}




            
        