{%extends 'base.html'%}

 {% block content %}

 <div class="container-fluid">
{% if profile %}
    {% for profile in profile %}
   <div class="row">
     <div class="col-md-3">
     <img src="{{profile.profile_photo.url}}"  class="img-responsive" style="width:150px;height:150px;  border-radius:50%;">
     </div>
     <div class="col-md-2">
       0 <strong>posts</strong>
     </div>
     <div class="col-md-2">
       0 <strong>followers</strong>
     </div>
     <div class="col-md-2">
       0 <strong>following</strong>
     </div>
  </div>
    <br>
    <br>
    {% endfor%}


    {% else %}
       be first!
    {% endif %}  

   <div class="row">
     {% autoescape on %}
     {{.post| safe}}
    {% endautoescape %}

   </div>

   <div class="row">
   </div>

 </div>

 {% endblock %}
