{%extends 'base.html'%}

 {% block content %}

 <div class="container-fluid">

    
    <header>
      {% if profile %}
      {% for profile in profile %}
      <div class="container">
    
        <div class="profile">
        
          <div class="profile-image">
    
            <img src="{{profile.profile_photo.url}}" alt="">
    
          </div>
    
          <div class="profile-user-settings">
    
            <h1 class="profile-user-name">{{profile.user.username}}</h1>
        {% endfor%}

        <form action="{%url 'new-update'%}" >    
        <button class="btn profile-edit-btn">Edit Profile</button>
        </form>
            <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
    
          </div>
    
          <div class="profile-stats">
    
            <ul>
              <li><span class="profile-stat-count">164</span> posts</li>
              <li><span class="profile-stat-count">188</span> followers</li>
              <li><span class="profile-stat-count">206</span> following</li>
            </ul>
    
          </div>
    
          <div class="profile-bio">
    
            <p><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>
    
          </div>
    
        </div>
        <!-- End of profile section -->
    
      </div>
      <!-- End of container -->
    
    </header>
    
    <main>
    
      <div class="container">
    
        <div class="gallery">
      {% for img in image %}
          <div class="gallery-item" tabindex="0">
    
            <img src="{{img.image.url}}" class="gallery-image" alt="">
    
            <div class="gallery-item-info">
    
              <ul>
                <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
                <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
              </ul>
    
            </div>
    
          </div>
    {% endfor %}  
        </div>
        <!-- End of gallery -->
    
        <div class="loader"></div>
    
      </div>
      <!-- End of container -->
    
    </main>

    {% else %}
       be first!
    {% endif %}  

   <div class="row">
     {% autoescape on %}
     {{.post| safe}}
    {% endautoescape %}

   </div>

   <div class="row">
   </div>

 </div>

 {% endblock %}
